<div>
    <h2>
        <span jhiTranslate="blogApp.address.home.title">Addresses</span>
        <button class="btn btn-primary float-right create-address" [routerLink]="['/', { outlets: { popup: ['address-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="blogApp.address.home.createLabel">
            Create new Address
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="addresses">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="address1"><span jhiTranslate="blogApp.address.address1">Address 1</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="address2"><span jhiTranslate="blogApp.address.address2">Address 2</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="city"><span jhiTranslate="blogApp.address.city">City</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="postcode"><span jhiTranslate="blogApp.address.postcode">Postcode</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="country"><span jhiTranslate="blogApp.address.country">Country</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="customer.id"><span jhiTranslate="blogApp.address.customer">Customer</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let address of addresses ;trackBy: trackId">
                <td><a [routerLink]="['../address', address.id ]">{{address.id}}</a></td>
                <td>{{address.address1}}</td>
                <td>{{address.address2}}</td>
                <td>{{address.city}}</td>
                <td>{{address.postcode}}</td>
                <td>{{address.country}}</td>
                <td>
                    <div *ngIf="address.customer">
                        <a [routerLink]="['../customer', address.customer?.id ]" >{{address.customer?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../address', address.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'address/'+ address.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'address/'+ address.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <!-- Pager is not implemented yet, so this is normal pagination instead -->
        <div *ngIf="addresses && addresses.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page"  (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
